<form>
    <fieldset>
        <legend>Authentication</legend>
        <div class="form-container">
            <div class="form-item">
                <label for="email">Email</label>
                <input type="email" required>
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input type="password" required>
            </div>
        </div>
        <button>Submit</button>
    </fieldset>
    <p>No account ? <a routerLink="/register">Click here !</a></p>
</form>