<section>
    <article id="home-article-top">
        <h1>🫱🏻‍🫲🏼 Welcome to Ωmega !</h1>
        <p>At Ωmega, we believe in individual freedom as the ultimate property. That's why we chose Ωmega as the name of our shop. In Greek, "Omega" is the last letter of the alphabet and symbolizes the end or the last thing in a series. For us, it means that freedom is the ultimate property of each individual and should be protected above all else. We want to give everyone the freedom to choose what's best for themselves, and that's why we've curated a variety of products to meet the unique needs of each individual. We believe in freedom as the ultimate property and that's why we chose Ωmega as the name of our shop.</p>
        <p>Omega is an online marketplace platform that allows multiple vendors or sellers to sell their products or services to customers. It serves as a central location for buyers to find and purchase a wide range of goods and services from different sellers on the platform. Omega's marketplace offers a wide range of products and services from different sellers, making it easy for customers to find what they need in one place.</p>
        <p>Thank you for choosing Ωmega for your online purchases.</p>
    </article>
    <article id="home-article-bottom">
        <h1>🔎 Quick Search</h1>
        <div id="home-search-bar">
            <input type="text" placeholder="    e.g. drugs, data, malware, hacking, weapons, ...">
            <button type="button">Search</button>
        </div>
    </article>
</section>
