@import "../../vars";

aside {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.1rem solid $color-white;
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: -webkit-fill-available;
            width: -moz-available;
            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: inherit;
                height: 4rem;
                font-family: 'ubuntu-light';
                font-size: 1rem;
                background-color: $color-orange;
            }
            img {
                margin: 1rem;
                max-width: 8rem;
                max-height: 8rem;
                border-radius: 50%;
            }
            #aside-info-container {
                width: -webkit-fill-available;
                width: -moz-available;
                .aside-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: .1rem .3rem;
                    .formidable {
                        color: $color-grey;
                    }
                    #trust {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: $color-orange;
                        font-family: 'ubuntu-bold';
                        margin-bottom: 0.25rem;
                    }
                } 
            }
        }
    }
}