<aside>
    <section>
        <article id="aside-profil">
            <h1>ℹ  Public profile</h1>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.biography.com%2F.image%2Ft_share%2FMTE1ODA0OTcxNTI0MTk1ODUz%2Fted-kaczynski-578450-1-420.jpg&f=1&nofb=1&ipt=165052717ba855b19aaf1017760ba8f883b613897b64a3f31ce03b21d35ac3de&ipo=images" alt="profil picture">
            <div id="aside-info-container">
                <div class="aside-info">
                    <p class="formidable">Name :</p>
                    <p>Theodore Kaczynski</p>
                </div>
                <div class="aside-info">
                    <p class="formidable">Joined :</p>
                    <p>01/01/2022</p>
                </div>
                <div class="aside-info">
                    <p class="formidable">Last login :</p>
                    <p>12/01/2023</p>
                </div>
                <div class="aside-info">
                    <p class="formidable">Total orders :</p>
                    <p>USD 0.00</p>
                </div>
                <div class="aside-info">
                    <p class="formidable">Trust level :</p>
                    <p id="trust">2</p>
                </div>
            </div>
        </article>
    </section>
</aside>